/* You can add global styles to this file, and also import other style files */
@import "styles/reset.css";


* {
  box-sizing: initial !important;
}

.small-piece {
  width: 20px !important;
  height: 20px !important;
}
