<div>

    <app-chess-error [board]="board"></app-chess-error>


    <div class="row">

        <div class="col-auto">

            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between align-items-center">

                    <button type="button" class="commit-button shadow-sm"
                            [ngClass]="{'commit-disabled': board?.currentTeam != 'black' || board?.message.length > 0}"
                            (click)="commit('black')">
                        <span *ngIf="board?.currentTeam === 'black' &&  board?.message.length <= 0"><i
                                class="fas fa-2x fa-arrow-down"></i></span>
                        <span *ngIf="board?.currentTeam !== 'black'"></span>
                    </button>

                    <i class="fas fa-undo" (click)="undo()"></i>

                    <button type="button" class="commit-button  shadow-sm"
                            [ngClass]="{'commit-disabled': board?.currentTeam != 'white' || board?.message.length > 0}"
                            (click)="commit('white')">
                        <span *ngIf="board?.currentTeam === 'white' &&  board?.message.length <= 0"><i
                                class="fas fa-2x fa-arrow-up"></i></span>
                        <span *ngIf="board?.currentTeam !== 'white'"></span>
                    </button>


                </div>
            </div>
        </div>
        <div class="col-auto d-flex align-items-center">
            <table (dragover)="dragOver($event)" (drop)="onDrop($event)" border="0" cellpadding="0" cellspacing="0">
                <app-chess-piece *ngFor="let piece of getGrid | removeEmpty; trackBy: trackElement" [piece]="piece"
                                 (dblclick)="promote(piece)" [styleClass]="'animated '+ 'fadeIn ' + rotate"></app-chess-piece>
                <tr>
                    <td x="1" y="1"></td>
                    <td x="2" y="1"></td>
                    <td x="3" y="1"></td>
                    <td x="4" y="1"></td>
                    <td x="5" y="1"></td>
                    <td x="6" y="1"></td>
                    <td x="7" y="1"></td>
                    <td x="8" y="1"></td>
                </tr>
                <tr>
                    <td x="1" y="2"></td>
                    <td x="2" y="2"></td>
                    <td x="3" y="2"></td>
                    <td x="4" y="2"></td>
                    <td x="5" y="2"></td>
                    <td x="6" y="2"></td>
                    <td x="7" y="2"></td>
                    <td x="8" y="2"></td>
                </tr>
                <tr>
                    <td x="1" y="3"></td>
                    <td x="2" y="3"></td>
                    <td x="3" y="3"></td>
                    <td x="4" y="3"></td>
                    <td x="5" y="3"></td>
                    <td x="6" y="3"></td>
                    <td x="7" y="3"></td>
                    <td x="8" y="3"></td>
                </tr>
                <tr>
                    <td x="1" y="4"></td>
                    <td x="2" y="4"></td>
                    <td x="3" y="4"></td>
                    <td x="4" y="4"></td>
                    <td x="5" y="4"></td>
                    <td x="6" y="4"></td>
                    <td x="7" y="4"></td>
                    <td x="8" y="4"></td>
                </tr>
                <tr>
                    <td x="1" y="5"></td>
                    <td x="2" y="5"></td>
                    <td x="3" y="5"></td>
                    <td x="4" y="5"></td>
                    <td x="5" y="5"></td>
                    <td x="6" y="5"></td>
                    <td x="7" y="5"></td>
                    <td x="8" y="5"></td>
                </tr>
                <tr>
                    <td x="1" y="6"></td>
                    <td x="2" y="6"></td>
                    <td x="3" y="6"></td>
                    <td x="4" y="6"></td>
                    <td x="5" y="6"></td>
                    <td x="6" y="6"></td>
                    <td x="7" y="6"></td>
                    <td x="8" y="6"></td>
                </tr>
                <tr>
                    <td x="1" y="7"></td>
                    <td x="2" y="7"></td>
                    <td x="3" y="7"></td>
                    <td x="4" y="7"></td>
                    <td x="5" y="7"></td>
                    <td x="6" y="7"></td>
                    <td x="7" y="7"></td>
                    <td x="8" y="7"></td>
                </tr>
                <tr>
                    <td x="1" y="8"></td>
                    <td x="2" y="8"></td>
                    <td x="3" y="8"></td>
                    <td x="4" y="8"></td>
                    <td x="5" y="8"></td>
                    <td x="6" y="8"></td>
                    <td x="7" y="8"></td>
                    <td x="8" y="8"></td>
                </tr>
            </table>
        </div>
        <div class="col-auto">
            <div class="card shadow-sm h-100 overflow-hidden" [ngClass]="rotate">
                <div class="card-header text-center">
                    <h5 (click)="flip = !flip">Move History</h5>
                </div>
                <div class="card-body history-body" #history>

                    <div class="row text-center">
                        <div class="col-auto text-center">

                        </div>
                        <div class="col-auto text-center">
                            White
                        </div>
                        <div class="col-auto text-center">
                            Black
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="chess-move d-flex flex-row w-100"
                                 *ngFor="let move of board?.history | reverse; trackBy: historyFunction; let i = index;">
                                <p>{{board?.history.length - i}}.</p>
                            </div>
                        </div>
                        <!--White-->
                        <div class="col-auto">
                            <p *ngIf="board?.currentTeam == 'white'"></p>

                            <div class="chess-move d-flex flex-row w-100"
                                 *ngFor="let move of board?.history | reverse; trackBy: historyFunction;">
                                <div *ngIf="move.actor.team === 'white'">
                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'move'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>

                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'take'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'pawnpromotion'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>

                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'castle'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">

                                        <p>{{move.notation}}</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'enpassant'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Black-->
                        <div class="col-auto">
                            <p *ngIf="board?.currentTeam == 'black'"></p>

                            <div class="chess-move d-flex flex-row w-100"
                                 *ngFor="let move of board?.history | reverse; trackBy: historyFunction;">
                                <div *ngIf="move.actor.team === 'black'">
                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'move'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>

                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'take'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'pawnpromotion'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>

                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'castle'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between  w-100 animated fadeIn"
                                         *ngIf="move.type === 'enpassant'"
                                         [ngClass]="{'text-danger': move.check === 'checkmate' || move.check === 'stalemate' || move.check === 'check'}">
                                        <p>{{move.notation}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div *ngIf="board?.history.length === 0"
                         class="d-flex flex-column justify-content-center align-items-center h-100 animated fadeIn">
                        <i class="fas fa-2x fa-history mb-2"></i>

                        <p>No move history.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
