<div>


    <app-chess-error [board]="board"></app-chess-error>

    <table (dragover)="dragOver($event)" (drop)="onDrop($event)" border="0" cellpadding="0" cellspacing="0">
        <app-chess-piece *ngFor="let piece of grid | removeEmpty; trackBy: trackElement"
                         [piece]="piece">

        </app-chess-piece>
        <tr>
            <td x="1" y="1"></td>
            <td x="2" y="1"></td>
            <td x="3" y="1"></td>
            <td x="4" y="1"></td>
            <td x="5" y="1"></td>
            <td x="6" y="1"></td>
            <td x="7" y="1"></td>
            <td x="8" y="1"></td>
        </tr>
        <tr>
            <td x="1" y="2"></td>
            <td x="2" y="2"></td>
            <td x="3" y="2"></td>
            <td x="4" y="2"></td>
            <td x="5" y="2"></td>
            <td x="6" y="2"></td>
            <td x="7" y="2"></td>
            <td x="8" y="2"></td>
        </tr>
        <tr>
            <td x="1" y="3"></td>
            <td x="2" y="3"></td>
            <td x="3" y="3"></td>
            <td x="4" y="3"></td>
            <td x="5" y="3"></td>
            <td x="6" y="3"></td>
            <td x="7" y="3"></td>
            <td x="8" y="3"></td>
        </tr>
        <tr>
            <td x="1" y="4"></td>
            <td x="2" y="4"></td>
            <td x="3" y="4"></td>
            <td x="4" y="4"></td>
            <td x="5" y="4"></td>
            <td x="6" y="4"></td>
            <td x="7" y="4"></td>
            <td x="8" y="4"></td>
        </tr>
        <tr>
            <td x="1" y="5"></td>
            <td x="2" y="5"></td>
            <td x="3" y="5"></td>
            <td x="4" y="5"></td>
            <td x="5" y="5"></td>
            <td x="6" y="5"></td>
            <td x="7" y="5"></td>
            <td x="8" y="5"></td>
        </tr>
        <tr>
            <td x="1" y="6"></td>
            <td x="2" y="6"></td>
            <td x="3" y="6"></td>
            <td x="4" y="6"></td>
            <td x="5" y="6"></td>
            <td x="6" y="6"></td>
            <td x="7" y="6"></td>
            <td x="8" y="6"></td>
        </tr>
        <tr>
            <td x="1" y="7"></td>
            <td x="2" y="7"></td>
            <td x="3" y="7"></td>
            <td x="4" y="7"></td>
            <td x="5" y="7"></td>
            <td x="6" y="7"></td>
            <td x="7" y="7"></td>
            <td x="8" y="7"></td>
        </tr>
        <tr>
            <td x="1" y="8"></td>
            <td x="2" y="8"></td>
            <td x="3" y="8"></td>
            <td x="4" y="8"></td>
            <td x="5" y="8"></td>
            <td x="6" y="8"></td>
            <td x="7" y="8"></td>
            <td x="8" y="8"></td>
        </tr>
    </table>
</div>
