<div class="modal-header">
    <h4 class="modal-title pull-left">Promotion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">


    <!--&lt;!&ndash;<label>&ndash;&gt;-->
    <!--&lt;!&ndash;<select [(ngModel)]="promotionType" class="form-control">&ndash;&gt;-->
    <!--&lt;!&ndash;<option *ngFor="let item of pieceTypes">{{item}}</option>&ndash;&gt;-->
    <!--&lt;!&ndash;</select>&ndash;&gt;-->
    <!--</label>-->


    <div class="row justify-content-center text-center mb-5">
        <div class="col col-12">
            <h4><strong>From</strong></h4>
        </div>
        <div class="col col-auto">
            <app-chess-piece
                    [piece]="initialPiece" style="position: relative !important;"></app-chess-piece>
        </div>
    </div>

    <div class="row justify-content-center text-center mb-5">
        <div class="col col-12">
            <h4><strong>To</strong></h4>
        </div>
        <div class="col col-auto " *ngFor="let piece of pieceTypes">
            <app-chess-piece
                    [piece]="piece" style="position: relative !important;" (click)="choosePromotion(piece)"></app-chess-piece>
        </div>
    </div>

</div>
