<div>
    <app-chess-board>

        <app-chess-piece type="rook" color="dark" [x]="1" [y]="1" chessId="1"></app-chess-piece>
        <app-chess-piece type="bishop" color="dark" [x]="2" [y]="1" chessId="2"></app-chess-piece>
        <app-chess-piece type="knight" color="dark" [x]="3" [y]="1" chessId="3"></app-chess-piece>
        <app-chess-piece type="king" color="dark" [x]="4" [y]="1" chessId="4"></app-chess-piece>
        <app-chess-piece type="queen" color="dark" [x]="5" [y]="1" chessId="5"></app-chess-piece>
        <app-chess-piece type="knight" color="dark" [x]="6" [y]="1" chessId="6"></app-chess-piece>
        <app-chess-piece type="bishop" color="dark" [x]="7" [y]="1" chessId="7"></app-chess-piece>
        <app-chess-piece type="rook" color="dark" [x]="8" [y]="1" chessId="8"></app-chess-piece>


        <app-chess-piece type="pawn" color="dark" [x]="1" [y]="2" chessId="9"></app-chess-piece>
        <app-chess-piece type="pawn" color="dark" [x]="2" [y]="2" chessId="10"></app-chess-piece>
        <app-chess-piece type="pawn" color="dark" [x]="3" [y]="2" chessId="11"></app-chess-piece>
        <app-chess-piece type="pawn" color="dark" [x]="4" [y]="2" chessId="12"></app-chess-piece>
        <app-chess-piece type="pawn" color="dark" [x]="5" [y]="2" chessId="13"></app-chess-piece>
        <app-chess-piece type="pawn" color="dark" [x]="6" [y]="2" chessId="14"></app-chess-piece>
        <app-chess-piece type="pawn" color="dark" [x]="7" [y]="2" chessId="15"></app-chess-piece>
        <app-chess-piece type="pawn" color="dark" [x]="8" [y]="2" chessId="16"></app-chess-piece>


        <app-chess-piece type="rook" color="light" [x]="1" [y]="8" chessId="17"></app-chess-piece>
        <app-chess-piece type="bishop" color="light" [x]="2" [y]="8" chessId="18"></app-chess-piece>
        <app-chess-piece type="knight" color="light" [x]="3" [y]="8" chessId="19"></app-chess-piece>
        <app-chess-piece type="king" color="light" [x]="4" [y]="8" chessId="20"></app-chess-piece>
        <app-chess-piece type="queen" color="light" [x]="5" [y]="8" chessId="21"></app-chess-piece>
        <app-chess-piece type="knight" color="light" [x]="6" [y]="8" chessId="22"></app-chess-piece>
        <app-chess-piece type="bishop" color="light" [x]="7" [y]="8" chessId="23"></app-chess-piece>
        <app-chess-piece type="rook" color="light" [x]="8" [y]="8" chessId="24"></app-chess-piece>


        <app-chess-piece type="pawn" color="light" [x]="1" [y]="7" chessId="25"></app-chess-piece>
        <app-chess-piece type="pawn" color="light" [x]="2" [y]="7" chessId="26"></app-chess-piece>
        <app-chess-piece type="pawn" color="light" [x]="3" [y]="7" chessId="28"></app-chess-piece>
        <app-chess-piece type="pawn" color="light" [x]="4" [y]="7" chessId="29"></app-chess-piece>
        <app-chess-piece type="pawn" color="light" [x]="5" [y]="7" chessId="30"></app-chess-piece>
        <app-chess-piece type="pawn" color="light" [x]="6" [y]="7" chessId="31"></app-chess-piece>
        <app-chess-piece type="pawn" color="light" [x]="7" [y]="7" chessId="32"></app-chess-piece>
        <app-chess-piece type="pawn" color="light" [x]="8" [y]="7" chessId="33"></app-chess-piece>

    </app-chess-board>
</div>
